<script type="x-template/underscore" id="container-authentication">
  <div class="row" id="login-region"></div>
  <div class="row" id="register-region"></div>
</script>

<script type="x-template/underscore" id="sub-view-login">
    <div class="card">
      <div class="card-block">
        <!--Header-->
        <div class="text-center">
          <h3><i class="fa fa-lock"></i> Login:</h3>
          <hr class="mt-2 mb-2">
        </div>
        <!--Body-->
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">Your email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="form4" class="form-control">
          <label for="form4">Your password</label>
        </div>
        <div class="text-center">
          <button class="btn btn-deep-purple">Login</button>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer text-center">
        <div class="options text-center col-12">
          <p>Not a member?
            <a href="" class="switch">Sign Up</a>
          </p> <!--Register-->
        </div>
      </div>
    </div>
</script>

<script type="x-template/underscore" id="sub-view-register">
  <div class="card">
    <div class="card-block">
      <!--Header-->
      <div class="text-center">
        <h3><i class="fa fa-lock"></i> Register:</h3>
        <hr class="mt-2 mb-2">
      </div>
      <!--Body-->
      <form>
        <fieldset class="fieldset-information"> <!--First Step-->
          <div class="text-center">
            <legend>Personal information:</legend>
          </div>
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="username" class="form-control">
            <label for="username" data-error="Username already using">Your username</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="email" id="email" class="form-control">
            <label for="email" data-error="Email already using">Your email</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="password" class="form-control">
            <label for="password">Your password</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="repeat" class="form-control">
            <label for="repeat">Repeat password</label>
          </div>
          <div class="text-center">
            <button class="btn btn-deep-purple" id="continue">Continue</button>
          </div>
        </fieldset>
        <fieldset class="fieldset-image hidden-element">
          <div class="text-center">
            <legend>Profile Picture:</legend>
          </div>
          <div class="md-form">
            <button type="button" class="btn btn-primary btn-block" id="trigger-image-input">
              Add Image
            </button>
            <div class="form-group inputDnD">
              <label class="sr-only" for="inputFile">Upload your image</label>
              <input type="file" class="form-control-file text-primary font-weight-bold"
                     id="inputFile" accept="image/*"  data-title="Drag and drop a file">
            </div>
          </div>
          <!--Card Preview Image Profile-->
          <div class="view overlay hm-white-slight">
            <img src="" class="img-fluid" id="preview-image">
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->
          <!--Card content of the model User create with de previwe personal information-->
          <div class="card-block text-center">
            <!--Title-->
            <h4 class="card-title" id="preview-username"></h4>
            <!--Text-->
            <p class="card-text" id="preview-email"></p>
            <hr>
          </div>
          <!--/.Card content-->
          <div class="text-center">
            <button class="btn btn-deep-purple" id="back">Back to form </button>
            <button class="btn btn-deep-purple" id="submit">Join to community</button>
          </div>
        </fieldset>
      </form>
    </div>
    <!--Footer-->
    <div class="modal-footer text-center">
      <div class="options text-center col-12">
        <p>Are you member? <a href="" class="switch">Log in</a></p> <!--Login-->
      </div>
    </div>
  </div>
</script>