<script type="x-template/underscore" id="container-create-snippet">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-block">
          <div class="card-header text-center">
            <h4>Create Snippet</h4>
          </div>
          <form class="mt-2">
            <div class="col-6">
              <div class="md-form mb-3 mt-3 px-4">
                <h6> Write the filename </h6>
                <input type="text" id="filename" class="form-control" required>
              </div>
            </div>
            <textarea id="editor" class="editor"></textarea>
            <div class="md-form mt-2 mb-3 mt-3 px-4">
              <h6> Add tags </h6>
              <input type="text" id="tags" class="form-control" required>
              <div id="region-tags" class="card-tag-searched hidden-element"></div>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-default" id="submit">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="x-template/underscore" id="sub-view-tags">
  <div class="col-lg-10">
    <ul id="ul-tags">
      <!--<li><i class="fa fa-plus"></i>Tag name</li>-->
    </ul>
  </div>
  <div class="col-lg-2">
    <i class="fa fa-2x fa-close float-right" id="ui-close-card-tag"></i>
  </div>
</script>