<script type="x-template/underscore" id="container-create-snippet">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-block">
          <div class="card-header text-center">
            <h4>Create Snippet</h4>
          </div>
          <form class="mt-2">
            <div class="col-6">
              <div class="md-form">
                <input type="text" id="filename" class="form-control" required>
                <label for="filename">Write the filename</label>
              </div>
            </div>
            <textarea id="editor" class="editor"></textarea>
            <div class="md-form mt-2 mb-3">
              <input type="text" id="tags" class="form-control" required>
              <label for="tags">Add a tag</label>
              <div class="card card-tag-searched">
                <div class="card-body">
                  <ul>
                    <li><i class="fa fa-plus"></i>Python</li>
                    <li><i class="fa fa-plus"></i>Pycharm</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-default" id="submit">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</script>