<script type="x-template/underscore" id="container-home">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <h1>Snippet App</h1>
        <p>Share your code with your friends, and more.</p>
      </div>
    </div>
  </div>
</script>