<script type="x-template/underscore" id="container-profile">

  <div class="row">
    <div class="col-lg-4">
      <div class="card card-profile-information">
        <img class="img-fluid" src="{{=image_profile}}">
        <div class="card-body">
          <h4 class="card-title">
            {{=name}} - <small> {{=email}} </small>
          </h4>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary btn-sm">Follow</a>
          <div class="card-footer">
            <span>Following: {{=relationships.following}}</span>
            <span class="float-sm-right">Followers: {{=relationships.followers}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-stadistis">
        <div class="card-body">
          <div class="element">
            Snippets: {{=snippets.count}}
            <a href="#" class="btn btn-primary btn-sm">Check all</a>
          </div>
          <div class="element">
            Proyects: {{=proyects.count}}
            <a href="#" class="btn btn-primary btn-sm">Check all</a>
          </div>
          <div class="element">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 text-center mt-4">
    <h1 id="title-popular-snippets">The most popular snippets</h1>
  </div>

  <div class="col-lg-12">
    <div id="snippets-region"></div>
    <div class="col-lg-12 text-right see-all">
      <a href="#user/{{=id}}/snippets" id="anchor-popular-snippets">See all</a>
    </div>
  </div>

  <div class="col-lg-12 text-center">
    <h1 id="title-popular-proyects">The most popular proyects</h1>
  </div>

  <div class="col-lg-12">
    <div id="proyects-region"></div>
    <div class="col-lg-12 text-right see-all">
      <a href="#user/{{=id}}/proyects" id="anchor-popular-proyects">See all</a>
    </div>
  </div>

</script>

<script type="x-template/underscore" id="sub-view-snippet">

  <h4>
    <span>
      <a href="#snippets/{{=id}}">{{=filename}}</a>
      <i class="fa fa-file"></i>
      <small>{{=jQuery.format.prettyDate(created_at)}}</small>
    </span>
    <span class="float-right">
      <i class="fa fa-comments"></i> {{=comment_count}}
      <i class="fa fa-heart-o"></i> {{=like_count}}
    </span>
  </h4>
  <pre class="prettyprint linenums height-pretty"><code>{{= _.escape(body)}}</code></pre>
</script>


<script type="x-template/underscore" id="sub-view-proyect">

    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <a href="#proyects/{{=id}}">{{=name}}</a>
          <span class="float-right">
            <small>{{= jQuery.format.prettyDate(created_at) }}</small>
            <i class="fa fa-comments"></i> {{=comment_count}}
            <i class="fa fa-heart-o"></i> {{=like_count}}
          </span>
        </div>
        <div class="card-footer">
          <h6>{{=description}}</h6>
        </div>
      </div>
    </div>

</script>