<script type="x-template/underscore" id="container-profile">
  <!--FIRST ROW-->
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-profile-information">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">
            {{= name }} - <small> {{= email }} </small>
          </h4>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary btn-sm">Follow</a>
          <div class="card-footer">
            <span>Following: {{= relationships.following }}</span>
            <span class="float-sm-right">Followers: {{= relationships.followers }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-stadistis">
        <div class="card-body">
          <div class="element">
            Snippets: {{= snippets.count }}
            <a href="#" class="btn btn-primary btn-sm">Check all</a>
          </div>
          <div class="element">
            Proyects: {{= proyects.count }}
            <a href="#" class="btn btn-primary btn-sm">Check all</a>
          </div>
          <div class="element">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <!-- SECOND ROW-->
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>The most popular snippets</h1>
    </div>
    <div class="col-lg-12 four-snippet">
      <div class="row">
        <div class="col-lg-6">
          <h4>
            <span>
              <a href="">filaneme.py</a>
              <i class="fa fa-file"></i>
            </span>
            <span class="float-right">
              <i class="fa fa-comments"></i>   4
              <i class="fa fa-thumbs-up "></i> 2
            </span>
          </h4>
          <div id="codemirror-snippet-1"></div>
        </div>
        <div class="col-lg-6">
          <h4>
            <span>
              <a href="">filaneme.py</a>
              <i class="fa fa-file"></i>
            </span>
            <span class="float-right">
              <i class="fa fa-comments"></i>   4
              <i class="fa fa-thumbs-up "></i> 2
            </span>
          </h4>
          <div id="codemirror-snippet-2"></div>
        </div>
        <div class="col-lg-6">
          <h4>
            <span>
              <a href="">filaneme.py</a>
              <i class="fa fa-file"></i>
            </span>
            <span class="float-right">
              <i class="fa fa-comments"></i>   4
              <i class="fa fa-thumbs-up "></i> 2
            </span>
          </h4>
          <div id="codemirror-snippet-3"></div>
        </div>
        <div class="col-lg-6">
          <h4>
            <span>
              <a href="">filaneme.py</a>
              <i class="fa fa-file"></i>
            </span>
            <span class="float-right">
              <i class="fa fa-comments"></i>   4
              <i class="fa fa-thumbs-up "></i> 2
            </span>
          </h4>
          <div id="codemirror-snippet-4"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-right see-all">
      <a>See all</a>
    </div>
  </div>
  <!-- THREE ROW-->
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>The most popular proyects</h1>
    </div>
    <div class="col-lg-12 four-snippet">
      <div class="row">
        {{ _.each([1, 2, 3, 4, 5, 6], function(index) { }}
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                <a>Lorem ipsum
                  <span class="float-right"><i class="fa fa-heart-o"></i> {{= index }}</span>
                </a>
              </div>
              <div class="card-footer">
                <h6>Lorem ipsum dolor sit amet. <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odit omnis velit?</h6>
              </div>
            </div>
          </div>
        </div>
        {{  }); }}
      </div>
    </div>
    <div class="col-lg-12 text-right see-all">
      <a>See all</a>
    </div>
  </div>
  <!--JAVASCRIPT QUE SERAN HECHOS DESDE LA VISTA PERO ESTAN PROBANDOSE:-->

  <!--GRAFICA-->
  <script>
    var ctxB = document.getElementById("barChart").getContext('2d');
    ctxB.height = 180;
    var myBarChart = new Chart(ctxB, {
      type: 'bar',
      data: {
        labels: ["Python", "HTML", "Javscript", "ruby", "c++", "c#"],
        datasets: [{
          label: 'tags in snippets',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      optionss: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
    new CodeMirror(document.getElementById('codemirror-snippet-1'),{
      value: "function myScript(){return 100;}\n",
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      readOnly: true
    });
    new CodeMirror(document.getElementById('codemirror-snippet-2'),{
      value: "funcreturnreturnreturnr\neturnreturnreturnreturnreturnret\nurnreturnreturnv" +
      "returnreturnreturnreturnretu\nrnreturnreturnreturnv" +
      "tion myScript(){return 100;}",
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      readOnly: true
    });
    new CodeMirror(document.getElementById('codemirror-snippet-3'),{
      value: "function myScript(){rereturnreturnreturnret" +
      "urnreturnreturnreturnreturnturn 100;}\n",
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      readOnly: true
    });
    new CodeMirror(document.getElementById('codemirror-snippet-4'),{
      value: "function myScript(){rereturnreturnreturnret" +
      "urnreturnreturnreturnreturnturn 100;}\n",
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      readOnly: true
    });
  </script>
</script>