<div class="row h-100 justify-content-center align-items-center">

	<div class="col-lg-8 offset-lg-2 block__proyect">

		<button role="like" type="submit" class="btn-floating green accent-3 my-1 btn-li waves-effect waves-light" id="ui-like-action">
			<i class="fa fa-star-o"></i>
		</button>

		<div id="userInfo-region"></div>

		{{ if (user_authenticated_is_the_owner(user_id)) { }}
		<button type="button" class="float-left btn waves-effect btn-sm waves-light btn-success animate" id="ui-button-edit">
			<i class="fa fa-edit"></i>
		</button>
		<button class="float-left btn btn-danger waves-effect btn-sm" id="ui-button-delete">
			<i class="fa fa-trash-o"></i>
		</button>
		{{ } }}

	</div>

	<div class="col-lg-8 offset-lg-2 mt-2">
		<section id="snippets-region"></section>
	</div>

	<div class="col-lg-8 offset-lg-2 mt-2">
		<button type="button" class="btn btn-li waves-effect waves-light btn-success animate" id="ui-button-toggleForm">
			<i class="fa fa-pencil right"></i>
			Write a comment
		</button>
		<div class="z-depth-3 mt-2" id="createComment-region"></div>
	</div>

	<div class="col-lg-8 offset-lg-2 mt-2">
		<h4>Comments <i class="fa fa-comments"></i></h4>
		<section id="comments-region"></section>
	</div>

</div>

<section id="modalEdit-region"></section>
