<script type="x-template/underscore" id="container-snippet">

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          {{= filename}}
          <span class="float-right">
            {{= jQuery.format.prettyDate(created_at) }}
          </span>
        </div>
        <div class="card-body">
          <textarea id="editor" class="editor"></textarea>
        </div>
      </div>
    </div>

    <div class="col-lg-8 offset-lg-2 mt-2">
      <button type="button" class="btn btn-li waves-effect waves-light btn-success animate" id="ui-button-toggleForm">
        <i class="fa fa-pencil right"></i>
        Write a comment
      </button>
      <div class="z-depth-3 mt-2" id="createComment-region"></div>
    </div>

    <div class="col-lg-8 offset-lg-2 mt-2">
      <h4>Comments <i class="fa fa-comments"></i> </h4>
      <section id="comments-region"></section>
    </div>
  </div>

</script>

<script type="x-template/underscore" id="sub-view-comments">

  <div class="media mb-1 block__comment">
    <a class="media-left waves-light comment_picture">
      <img class="rounded-circle" src="{{=user_picture}}">
    </a>
    <div class="media-body comment_content">
      <h4 class="media-heading comment_username"><a href="#user/{{=user_id}}">{{=user_name}}</a></h4>
      <h2 class="comment_title">{{=title}}
        <small class="comment_created_at"><i class="fa fa-clock-o"></i>
          {{= jQuery.format.prettyDate(created_at) }}
        </small>
      </h2>
      <p class="comment_body">

        {{ if (line_code) { }}
          <button class="get_line_code">{{=line_code}}</button>
        {{ } }}

        {{=body}}
      </p>
    </div>
  </div>

</script>

<script type="x-template/underscore" id="sub-view-create-comment">

  {{ if (permission_level === 0) { }}
  <div class="col-lg-12 p-2">
    <div class="text-center">
      <a class="btn btn-primary waves-effect waves-light" href="#auth">You need login for comment</a>
    </div>
  </div>
  {{ } else { }}
    <div class="col-lg-2">
      <img class="img-fluid ml-1 mt-3" src={{=image_profile.call()}} width="300">
    </div>
    <div class="col-lg-10">
      <form>
        <div class="md-form mt-2 mb-2">
          <input type="number" id="line-number" class="w-25" min="1">
          <i class="fa fa-times-circle" id="ui-button-hide-line-number"></i>
          <label for="line-number">Line number</label>
        </div>
        <div class="md-form mt-2 mb-2 ">
          <input type="text" id="title-comment" class="w-75" maxlength="24">
          <i class="fa fa-times-circle" id="ui-button-hide-title"></i>
          <label for="title-comment">Comment header</label>
        </div>
        <div class="md-form mt-2">
          <textarea type="text" id="textarea-comment" class="md-textarea w-75" maxlength="120"></textarea>
          <label for="textarea-comment">Your comment</label>
        </div>
        <button class="btn btn-primary waves-effect waves-light" id="submit" type="submit">Submit</button>
      </form>
    </div>
  {{ } }}

</script>