<script type="x-template/underscore" id="container-snippets">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        Snippets
      </div>
    </div>
  </div>
</script>