*.sqlite
*.sass-cache
*.txt
*.lock
*.bundle/*
*tmp/tag.backup.yml

.idea/*
node_modules/*
package-lock.json

Gemfile.lock

/public/bower_components/
/app.rsa
/app.rsa.pub
/.bin --global/
/.bundle/
/vendor/
.idea/
spec/spec_support/
/public/javascripts/bin/*
!/public/javascripts/bin/.gitkeep
