$grey: #e5e8df;
$bluemedium: #6CD5FA;
$bluelight: #D5F5FE;
$greylight: #E4E4E4;
$greydark:  #CBCBCB;

main{
  margin-top: 5em;
  margin-bottom: 5em;
}

body{
  background-color: $grey;
}

.security-high {
  border-bottom: 1px solid #00C851 !important;
  box-shadow: 0 1px 0 0 #00C851 !important;
}

.security-medium {
  border-bottom: 1px solid #F4C20B !important;
  box-shadow: 0 1px 0 0 #F4C20B !important;
}

.security-down {
  border-bottom: 1px solid #AF2018 !important;
  box-shadow: 0 1px 0 0 #AF2018 !important;
}

.hidden-element{
  display: none;
}

.input-parent-visibility-hidden {
  input {
    visibility: hidden;
  }
  label {
    color: $greydark;
  }
}

.fa.fa-close {
  color: #AF2018
}

.inputDnD {
  .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: $bluemedium;
    box-shadow: 0 0 5px solid $bluelight;
    &:before {
      content: attr(data-title);
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 100%;
      min-height: 6em;
      line-height: 2em;
      padding-top: 1.5em;
      opacity: 1;
      visibility: visible;
      text-align: center;
      border: 0.25em dashed $bluelight;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      overflow: hidden;
    }
    &:hover {
      &:before {
        border-style: solid;
        box-shadow: inset 0 0 0 0.25em $bluelight;
      }
    }
  }
}

.card-profile-information {
  min-height: 28.5em;
  .card-body {
    padding:1rem;
  }
  .card-text, .card-title {
    padding-left:.5rem;
  }
}

.card-stadistis{
  .card-body {
    padding:1rem
  }
}

.four-snippet {
  .row {
    > div {
      margin-top: 2rem;
    }
  }
}

.see-all{
  margin-top: 2rem;
  a {
    font-size: 1em;
    &:hover {
      color: $bluelight !important;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -ms-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
    }
  }
}

.animate {
  &.left {
    transform: translate3d(20px, 40px, 0);
    transition: all 300ms ease;
  }
  &.right {
    transform: translateX(0%);
    transition: all 300ms ease;
  }
}

.CodeMirror.CodeMirror-wrap {
  height: 35em;
  border-bottom: 1px solid $greylight;
  border-top: 1px solid $greylight;
}


.card-tag-searched {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  ul {
    list-style-type: none;
    padding: 0;
  }
}

/*Code Prettify Custom Style*/

.pln { color: #4a4a4a !important}  /* plain text */

@media screen {
  .str { color: darkgreen }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: darkslateblue }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: darkslateblue }  /* a markup attribute name */
  .atv { color: darkgreen }  /* a markup attribute value */
  .dec, .var { color: darkslateblue }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: darkgreen }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: darkgreen }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: .150em !important;
  border: 2px solid $greydark !important;
  background-color: #e0e3d9;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: inherit }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: none !important }

.height-pretty {
  max-height: 30em;
}

.block__comment {
  .comment_picture {
    img {
      width: 85px;
      margin-top: 1em;
    }
  }

  .comment_content {
    word-break: break-word;

    .comment_username {
      a {
        color: darken($greydark, 80)
      }
    }

    .comment_title {

      .comment_created_at {
        position: absolute;
        font-size: .850rem;
        right: 0;
        top: 0;
      }
    }

    .comment_body {
      button.get_line_code {
        background: darken($bluemedium, 20);
        border: 1px solid darken($bluemedium, 25);
        cursor: pointer;
        -webkit-box-shadow: 0 0 3px 0px black;
        -moz-box-shadow: 0 0 3px 0px black;
        box-shadow: 0 0 3px 0px black;
        transition: all .4s;

        &:hover {
          transition: all .4s;
          -webkit-box-shadow: 0 0 5px -1px black;
          -moz-box-shadow: 0 0 5px -1px black;
          box-shadow: 0 0 5px -1px black;
        }

        &:active {
          -webkit-box-shadow: initial;
          -moz-box-shadow: initial;
          box-shadow: initial;
        }
      }
    }
  }
}

#comments-region > div > div:not(:last-child) > .block__comment {
  .comment_content {
    padding-bottom: 2em;
    border-bottom: 2px solid $greydark;
  }
}

.block__snippet {
  .card {
    transition: box-shadow .3s ease;

    .card-header {
      button {
        &.ui-edit {
          margin: 0 0 0 5%;
        }

        &.ui-delete {
          margin: 0 0 0 0;
        }
      }
    }

    &.focus {
      box-shadow: 0 0 16px 3px #607D8B;
    }
  }
}