<script type="x-template/underscore" id="modal-edit">


<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="md-form form-sm">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form32" class="form-control">
          <label for="form32">Your email</label>
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="form33" class="form-control">
          <label for="form33">Your password</label>
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="form34" class="form-control">
          <label for="form34">Repeat password</label>
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info">Sign up <i class="fa fa-sign-in ml-1"></i></button>
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <div class="options text-center text-md-right mt-1">
          <p>Already have an account? <a href="#">Log In</a></p>
        </div>
        <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

</script>