<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbar-application-menu"
                aria-controls="navbarNav1" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">
            <strong>Snippet App</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbar-application-menu">
            <script type="x-template/underscore" id="ul-navbar-application-menu">

                {{ if (permission_level === 0) { }}

                  <ul class="mr-auto navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#proyects">Proyect</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#snippets">Snippet</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#auth">Auth</a>
                    </li>
                </ul>

                {{ } else { }}

                  <ul class="mr-auto navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#proyects">Proyect</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#snippets">Snippet</a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                      <a class="nav-link" id="button-create"><i class="fa fa-plus"></i></a>
                    </li>
                  </ul>
                  <li class="nav-item dropdown btn-group">
                      <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        {{= username }}
                      </a>
                      <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="#user/{{= id }}">Profile</a>
                        <a class="dropdown-item" href="#config">Config</a>
                        <a class="dropdown-item" href="#logout">Logout</a>
                      </div>
                  </li>

                {{ } }}

                <form class="form-inline waves-effect waves-light">
                    <input class="form-control" type="text" placeholder="Snippet, proyect, or tag">
                </form>
            </script>
        </div>
    </div>
</nav>