<div class="progress">
  <div class="progress-bar" role="progressbar"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="1">
  </div>
  </div>
  <div style="position: relative; height: 22vw">
  <canvas class="profile-chart"></canvas>
  </div>
  <div class="btn-group float-right mt-2" role="group" aria-label="Buttons chart">
  <button type="button" class="btn btn-secondary btn-sm" role="btn-chart-type" data-chart="languages">
    Languages
  </button>

  <button type="button" class="btn btn-secondary btn-sm" role="btn-chart-type" data-chart="frameworks">
    Frameworks
  </button>

  <button type="button" class="btn btn-secondary btn-sm" role="btn-chart-type" data-chart="technologys">
    Technologys
  </button>
</div>