<input type="text" id="search" class="form-control" placeholder="Search your snippets" disabled>
<div class="row">
  <div class="col-10">
    <ul>
    </ul>
  </div>
  <div class="col-2">
    <i class="fa fa-2x fa-close float-right" id="ui-close-card"></i>
  </div>
</div>