<div class="col-lg-10">
  <ul id="ul-tags">
    <!--<li><i class="fa fa-plus"></i>Tag name</li>-->
  </ul>
</div>
<div class="col-lg-2">
  <i class="fa fa-2x fa-close float-right" id="ui-close-card-tag"></i>
</div>