<h4>
  <span>
    <a href="#snippets/{{=id}}">{{=filename}}</a>
    <i class="fa fa-file"></i>
    <small>{{=jQuery.format.prettyDate(created_at)}}</small>
  </span>
  <span class="float-right">
    {{ try { }} <i class="fa fa-comments"></i>  {{= comment_count }} {{ } catch(e) { }} {{= '' }} {{ } }}
    {{ try { }} <i class="fa fa-heart-o"></i>   {{= like_count    }} {{ } catch(e) { }} {{= '' }} {{ } }}
  </span>
</h4>

<pre class="prettyprint linenums height-pretty"><code>{{= _.escape(body)}}</code></pre>